# Python cache
__pycache__/
*.pyc

# Controller logs & results
arms_controller/results/
*.csv

# Raw calibration images (keep JSONs)
camera_calibration/calibration_640x480_images/

# Local images/screenshots
*.jpg
*.png
